*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size:95px;
}
::-webkit-scrollbar {
    display: none;
}
.example::-webkit-scrollbar {
    display: none;
}

.m6_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    font-weight: 700;
}
.m6_header_text{
    color:#040B3B;  
    font-size: 0.36rem;
    font-family: Raleway;
 }
 .m6_header_underline{
     background-color:#A5A6A9;
     height: 6px;
     /* height: 3px; */
     width: 50px;
     /* width: 100px; */
     text-align: center;
 }
.m1{
    width: 100vw;
    height: 100vh;
}

.m1_bg_1{
    position: absolute;
    background-image: url("./res/elon_1.jpg");
    height:100%;
    z-index: 1;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.m1_bg_2{
    position: absolute;
    background-image: url("./res/elon_2.jpg");
    height:100%;
    z-index: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gk_logo{
    position: absolute;
    top:40px;
    width:88px;
    height:60px;
    right:40vw;
    z-index: 100000;
}
.gk_logo img{
    display: block;
    width: 100%;
    height:100%;
}


.m1_text_cont_top{
    position: absolute !important;
    bottom: 40%;
    left:10vw;
    color:white;
    z-index: 1000;
}

.m1_img_container{
    flex:0.6;
    height: 100%;
    position: absolute;
    z-index: 1000;
    right:0;
}
.m1_img_container img{
    display: block;
}

.m1_black_bar{
    background-color: black;
    height: 100%;
    /* width:100px; */
    flex:0.4;

}

.m1_pic_1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.m1_text{
    /* padding:20% 20% 20% 10%; */
    padding:20% 10% 10% 10%;
}

.m1t_l1{
    font-size: 34px !important;
    animation: left_to_right 0.9s ease-in;
    animation-fill-mode: forwards;

}
@keyframes left_to_right {
    from   {transform:translateX(-100px);opacity: 0;}
    to   {transform:translateX(0px);opacity: 1;}
}
@keyframes right_to_left {
    from   {transform:translateX(50px);opacity:0}
    to   {transform:translateX(0px);opacity:1}
}

.m1t_l2 {
    animation: right_to_left 0.9s ease-in;
    animation-fill-mode: forwards;    
}
.m1t_l2 span{
    transition:all 0.2s ease-in;
}
.m1t_l2 span:hover{
    color:red !important;
    cursor:pointer;
}

.m1t_l2 span a{
    color:inherit;
    text-decoration:none;
    font-size:inherit;
}


.m1t_l1,.m1t_l2,.m1t_l2 span,.m1t_l3 span{
    align-self: center;
    font-family: rubik;
    font-size: 38px;
    /* color:green; */
}


.m1t_l2{
    padding-top: 10px;
}
.m1t_l3 span{
    font-family: "roboto mono";
    font-size: 26px;
    margin-top: 40px;
}

::-webkit-scrollbar {
    display: none;
    }
.example::-webkit-scrollbar {
    display: none;
}

.m1{
    width: 100vw;
    height: 100vh;
}

.m1_bg_1{
    position: absolute;
    background-image: url("./res/elon_1.jpg");
    height:100%;
    z-index: 1;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.m1_bg_2{
    position: absolute;
    background-image: url("./res/elon_2.jpg");
    height:100%;
    z-index: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gk_logo{
    position: absolute;
    top:40px;
    width:88px;
    height:60px;
    right:40vw;
    z-index: 100000;
}
.gk_logo img{
    display: block;
    width: 100%;
    height:100%;
}


.m1_text_cont_top{
    position: absolute !important;
    bottom: 40%;
    left:10vw;
    color:white;
    z-index: 1000;
}

.m1t_l1{
    font-size: 34px !important;
}

.m1t_l1,.m1t_l2,.m1t_l3{
    align-self: center;
    font-family: rubik;
    font-size: 38px;
}


.m1t_l2{
    padding-top: 10px;
}
.m1t_l3{
    font-family: "roboto mono";
    font-size: 26px;
    margin-top: 40px;
}
.m2_header_text{
    color:#040B3B;  
    font-size: 38px;
    font-family: Raleway;
    font-weight: 700;
}
.m2_header_underline{
    background-color:#A5A6A9;
    height: 6px;
    width: 30px;
    text-align: center;
}
.m2_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.m2_container{
    background-color: cornsilk;
}
.m2_info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
    width: 95%;
    margin-top:10px;
    margin-left:auto;
    margin-right: auto;
}

.m2_info > div{
    padding:10px 0;
}

.m2_text_cont{
    font-size: 16px;
}
.m2_des {
    max-width: 700px;
    width:80%;
    font-family: Raleway;
    /* text-align: justify; */
    font-weight: 600;
    letter-spacing: 1px;
    line-height:19px;
    
}
.m2_text_cont{
    padding-left: 5px !important;
    border-left: 5px solid #FFA200 ;
}
.m2_img_container{
    width:200px;
    height:288px;

}


.m2_img_container img{
    width: 100%;
    height:100%;
}
.m3_container{
    background-color: #020F23;
}
.m3_header{
    /* margin-bottom: 40px; */
    padding-top:45px;
}
.m3_header_underline{
    background-color: #A5A6A9;
}

.m3_header_text{
    color:white;
}

.m3_a_list{
    color:white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.m3card{
   margin-top: 45px;
   padding-left: 10%;
   padding-right: 10%;
   display: flex; 
   align-items: flex-start;
   justify-content: center;
   flex-direction: column; 

   /* : ; */
}

.m3c_header{
    font-weight: 450;
    font-size:0.26rem ;
    font-family: rubik;
    text-align: center;
    width: 100%;
    color:cornsilk;
}
.m3_des{
    margin-top: 5px;
    font-size:0.19rem;
    font-family: karla;  
   text-align: center;
   width: 100%;
    /* padding:auto; */
}
.m3_company_logos{
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    display: flex;
    align-items: center;
}

.prize_container{
    display: flex;
    justify-content: space-around;
    padding: 0px 0 50px;
}
.prize_card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prize_card img{
    /* height: 100%; */
    width: 80%;
    object-fit: contain;
    /* background-color: black; */
    transition:all 0.5s ease-in-out;
    padding-top:20px;
}
.prize_text_2,.prize_text_1{
    position: absolute;
    opacity: 0;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-family: roboto;
    font-size:0.38rem;
    color:white;
    transition:all 0.5s ease-in-out;    
}

.prize_card_1:hover img{
    opacity:0.5;
}
.prize_card_2:hover img{
    opacity:0.5;
}

.prize_card_1:hover .prize_text_1{
    opacity: 1;
}
.prize_card_2:hover .prize_text_2{
    opacity: 1;
}
.prize_text div{
    font-size:0.32rem;
}

.logo_win_pic{
    width:80%;
    padding-top: 30px;
}
.m4_numbers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top:10px;
}

.m4_numbers a{
    outline:none;
    text-decoration: none;
    color:inherit;
    font-family: Montserrat;
    font-size:0.24rem;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content:space-around;

    
}
.m4_numbers a i{
padding-right: 5px;
}
.m4_logos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 50px;
}
.m4_logos a{
    height: 40px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center ;
}
.m4_logos a img{
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
}

.prize_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: peachpuff; */
    width: 100%;
    height: 100%;
}

.prize_card{
    /* background-color: red; */
   
}

.flex_row_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    
}
.flex_row_container div {
    /* background-color:red; */
    width: 100%;
}
.flex_row_container div img{
    object-fit: cover;
}

.m4_numbers a div{
    font-size:0.24rem;
}
.m4_logos a img{
    /* height: 40px; */
}
.m4{
    position: relative;
}
.m4_copy{
    position: absolute;
    bottom: 8px;
    width: 100%;
    /* padding-left:20%; */
    /* padding-right:20%; */
    text-align: center;
    font-family: karla;
    font-size: 13px;
}

.fb_logo{
    transform:scale(0.87);
}
@media only screen and (max-width: 1300px) {
    *{
        font-size:92px;
    }
}
    
@media only screen and (max-width: 1000px) {
    
    .m3_company_logos{
    flex-direction: column;
    }
    .flex_row_container{
    padding-top: 20px;
    }
}
@media screen and (min-width:948px){
    .m2_img_container{
        transform: translate(0,-40px);
    }
    .m2_des,.m2_text_cont{
        text-align: justify;
        padding-right: 10px !important;
    }
}
@media screen and (max-width:947px){
    .m2_img_container{
        width:35vw;
        height:50vw;
        min-width: 140px;
        min-height: 200px;
        margin-top: 15px !important;
        padding-bottom: 20px !important;
    }
    .m2_des .m2_text_cont{
        font-size: 14px;
    }
}


@media only screen and (max-width: 840px) {
  *{
      font-size:88px;
  }  
    .m3_a_list{    
        grid-template-columns: 1fr 1fr;
    }
    .prize_container{
        flex-direction: column;
    }
}

@media screen and (max-width: 745px) {
    .m1_bg_1{
        height:80vh;
    }
    .m1_bg_2{
        height: 80vh !important;
    }
    .m1{
        height: 80vh;
    }
}

@media only screen and (max-width: 640px) {
   *{
       font-size:80px;
   }
    .m3_a_list{
        flex-direction: column;
    }
    /* .m2_info{
        flex-direction: column;
    }
    .m2_img_container{
        padding-top: 20px;
        height: 10%;
    } */
    .m3_a_list{
        
        grid-template-columns: 1fr;

    }
    .prize_container{
    flex-direction: column;
    }
    .prize_card img{
        padding-top: 40px;
    }
    /* .m4_numbers a div{
        font-size:0.15rem;
    } */
    .m4_copy{
    font-size:9px;
    }  
    .m2_des .m2_text_cont{
        font-size: 12px;
    } 
}


@media only screen and (max-width: 503px) {
    *{
        font-size:70px;
    }
    .m1t_l1{
        font-size: 26px!important;
    }

    .m1t_l2,.m1t_l2 span{
        font-size: 30px!important;
    }
    .m1t_l3 span{
        font-size: 20px!important;
        /* color:red;    */
    }
}


@media screen and (max-width:416px){
    .m1_text_cont_top{
        left:4vw;
    }
} 

@media screen and (max-width:312px){
    .m4_numbers a{
    font-size:0.55rem !important;
    }
}


